// Color Variables
// Core
$primary-color: #222;
$text-color: #555;
$link-color: #007bff;
$text-color-dark: #333;
$body-color: #fff;
$border-color: #eee;

// Accent
$black: #000;
$white: #fff;
$light: #fbfbfb;
$fire: red;

// Font Variables
$primary-font: var(--font-playfairDisplay), sans-serif;
$icon-font: "themify";
